.aboutus-heading{
    background: linear-gradient(108deg, #6A5538 2%, #BC975E 35%, #D9BE85 45%, #E7D491 56%, #C5A76C 67%, #BC975E 78%, #6A5538 100%);
    background-clip: text;
    color: transparent;
    
}