@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: linear-gradient(
    108deg,
    #6a5538 2%,
    #bc975e 35%,
    #d9be85 45%,
    #e7d491 56%,
    #c5a76c 67%,
    #bc975e 78%,
    #6a5538 100%
  );
  --color-bg-varient: #1c2f4b;
  --color-bg-secondary: #3cf;

  --color-primary: #2c4a75;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  line-height: 1.2;
}

.btn {
  display: inline-block;
  width: max-content;
  padding: 0.65rem 1.8rem;
  border: none;
  transition: all 400ms ease;
}

.btn-primary {
  background: var(--color-bg-primary);
}

.btn-secondary {
  background: var(--color-bg-secondary);
}

.bgPrimary,
.call_to_action_container {
  background: var(--color-bg-primary);
}

.my-custom-pagination-div {
  position: absolute;
  bottom: 10px;
}

.swiper {
  overflow: visible;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -60px;
}
